
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/* Navbar */
header {
    background: #222;
    color: white;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #00ffd5;
}

/* HERO SECTION */
#home {
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    text-align: center;
    color: black;

    padding-top: 0;   

    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
}

#home h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

#home p {
    font-size: 20px;
    opacity: 0.8;
}

section {
    padding: 60px;
    text-align: center;
}

#about {
    background: #e3f2fd;
}

#projects {
    background: #fff8e1;
}

#contact {
    background: #f3e5f5;
}
.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: white;
    padding: 15px;
    width: 220px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}